
/*****************/
/*    Layout     */
/*****************/
#wrap {
	margin: 0 auto;
	text-align: left;		
}

#body_content {
    background-color: #DCDCDC;
    border: 3px solid #DCDCDC;
    padding: 1px 0px 0px 10px;
}

#main_content {
	background-color: white;
	 padding: 2px 2px 0px 10px;
	
}

#main_fixed_win {
	width: 850px;
}

#private_content {
    background-color: #DADADA;
}

/* header */

#header2 {
	position: relative;
	height: 42px;		
}

#header {
	position: relative;
	height: 42px;	
/*	background-color: #999999;  */
	background-color: #394475;
	overflow:hidden;
}

#externalRemoteLogin{
    font-family: 'Trebuchet MS', Tahoma, Arial, Sans-serif;

}
#external-header {
	position: relative;
	height: 68px;	
/*	background-color: #999999;  */
	background-color: #394475;
	overflow:hidden;
	padding-top: 1px;
	padding-right: 2px;
	padding-bottom: 1px;
	padding-left: 2px;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	white-space: nowrap;
	color: #E8E8E8;
	text-transform: none;
}

#header h1#logo {
	position: absolute;
	margin: 0; 
	padding: 5px 0px 0px 10px;
	font: bolder 24px 'Trebuchet MS', Arial, Sans-serif;
	color: #E8E8E8;
	text-transform: none;
	/* change the values of top and Left to adjust the position of the logo*/
	top: 3px; left: 0px;	
}

/* footer */
#footer {
	clear: both;
    border: 1px solid #DCDCDC;
    background: #DCDCDC;
	text-align: center;	
	height: 50px;	
}
#footer a {
	text-decoration: none;
	font-weight: bold;
}

#external-footer {
	clear: both;
    border: 1px solid #DCDCDC;
    background: #DCDCDC;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	font-family: 'Trebuchet MS', Tahoma, Arial, Sans-serif;
}

/* menu */
#menu {
	margin: 0; 
	padding: 7px 5px 0px 0px;
	text-align: right;
	border: 0px;
	background: #999999;
	color: white;
	overflow: hidden;
}

#menu a {
	color: white;
}

#main_tab {
	float: left;
 /*	issue: PRGDCP-3582
    width: 550px;  */
	margin: 2px 0px 0px 0px;	
}

#main_tab ul {	
	padding: 0;	margin: 0;
	font: bold 1.3em 'Trebuchet MS', Tahoma, Arial, Sans-serif;
	list-style: none;
    border-left: 5px solid #999999; 
}
#main_tab ul li{
	display: inline;	
	line-height: 1.5em;	
}
#main_tab ul li a {	
	position: relative; 
	float: left;
	color: #808080;
	padding: 2px 10px 1px 10px;
	text-decoration: none;
	background: white;
	border-left: 5px solid #999999; 
}
#main_tab ul li a:hover{
	color: black;
    background-color: #DCDCDC; 
}
#main_tab ul li#current a{
	color: #333;
    background-color: #DCDCDC; 
}
#lang_sec {
    float: right;
   /*	issue: PRGDCP-3582
    width: 550px;  */
}
/* secondary tab navigation */
#tabs_panel {
  width:100%;
  background-color: #DCDCDC;
 /* font-size:93%; */ 
  line-height:normal;
  border-bottom: 2px solid #757575;
}

.tall_panel {
    padding-top: 10px;
}

#tabs_panel ul {
  margin:0;
  padding:0px 10px 0 5px;
  list-style:none;
}

#tabs_panel li {
  display:inline;
  margin: 0px;
  padding:0px;
}

#tabs_panel li.moveRight {
  display:inline;
  margin-left: 30px;  
  padding: 0px; 
  float: left;
}

#tabs_panel a {
  float:left;
  background:url("/images/main/tableft1.gif") no-repeat left top;
  background-position:0% -84px;
  margin:0px 3px;;
  padding:0px 0px 0px 4px;
  text-decoration:none;
  text-transform:uppercase;
}
  
#tabs_panel a span {
  float:left;
  display:block;
  background:url("/images/main/tabright1.gif") no-repeat right top;
  background-position:100% -84px;
  padding:5px 15px 4px 6px;
  font-weight: bold;
  color: #888888;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs_panel a span {float:none;}
/* End IE5-Mac hack */
#tabs_panel a:hover span {
  font-weight: bold;
  color:#FFFFFF;
  }
#tabs_panel a:hover {
  background-position:0% -42px;
  }
#tabs_panel a:hover span {
  background-position:100% -42px;
  }
#tabs_panel a#current span {
  font-weight: bold;
  color:#FFFFFF;
  }
#tabs_panel a#current {
  background-position:0% 0px;
  }
#tabs_panel a#current span {
  background-position:100% 0px;
  }

#skipheader {
	height: 0px;
	overflow:hidden;
}  

#skipsubject {
	height: 0px;
	overflow:hidden;
	float:left;
}  


.arabic_div {
   direction: rtl;
   text-align: right;
   padding-right: 1em; 
   margin-right: 1em;	
}


 .jsAction {
        cursor: pointer;
        color: #00f;
        text-decoration: underline;
   }
