/* issue: PRGDCP-2836 */
.acquisition_main_column {
	font-family: Myriad, Helvetica, Tahoma, Arial, clean, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;	
	line-height: normal;	
}

#publisher_window {
	margin: 10px 3px;
/*	border: 1px solid #CCCCCC;*/
	padding-bottom: 10px;
	overflow: auto;
}

#publisher_window div.publisher_box{
	float: left;
	margin-left: 15px;
	width: 250px;
}

#publisher_window div.publisher_select {
	float: left;
	width: 20px;
}

#publisher_window div.publisher_text {
	float: left;
	width: 225px;
}

#acquisitionContainer{
	width:100%; 
}

.publisher_checkbox {
}

#subject_intro {
	float: right;
	margin: 5px 5px 5px 0px;
	width: 35%;
	overflow:auto;
}

.subject_tree{
	float: left;
	width: 63%;
}
.acquisition_tab_content{
	overflow: auto;
}

.acquisition_content_pane{
	height: auto;
	padding-top: 4px;
}
	

.acquisition_tab_action{
}

#filterTab .acquisition_tab_content{
	overflow: hidden;
}
#documentList .acquisition_tab_content{
	overflow: hidden;
}

#subject_intro ul li{
	list-style-position:outside;	
	font: 1em "trebuchet MS",verdana,helvetica,sans-serif;
	margin-left: 15px;
	line-height: 18px;
}

.dijitTabDisabled { opacity:0.45; color:#000; }

.NoBullet {
	list-style: none;
	margin-left: 1.5em;
	padding-left: 0px;
}

.baseTd {
	vertical-align: top; 
	padding: 0px 18px 0px 18px;	
}
.td1 {
   width : 25%;
}
.td2 {
   width : 50%;
}

