
/* bookshelf */

.head1 {
	font-size: 1.3em;
	font-weight:bold;
}

.head2 {
	font-size: 1.1em;
	color: black;
}

.book_shelf_item {
	clear: both;
	margin: 15px 5px;
}


.book_shelf_item img {
	border: 0px;
}

.book_shelf_item a.title {
	font-size: 1.2em;
}

.doc_detail_info {
	width: 520px;
	float: left;
}

.doc_detail_info .book_detail {
	width: 400px;
}

.doc_detail_notes {
	margin-top: 15px;
	width: 300px;
	float: left;
	padding: 10px 5px;
	border: 1px solid #CCCCCC;
}

.list_table {
	width: 100%;
	border-collapse: collapse;
}

.list_table td {
	padding: 2px 5px;	
}

.list_table td a.title {
	color: blue;
	font-size: 1.1em;
}

.list_table td a.main_title {
	color: black;
	font-size: 1.1em;
}

.list_table td img {
	border:0px;
}

.list_table tr.line_break td {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.list_table tr.first td {
	margin-top: 0px;
	padding-top: 0px;
	border-bottom: 1px solid #CCCCCC;
}

.list_table td.first {
	width: 24px;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #CCCCCC;
}

.list_table td.alt_first {
	width: 24px;
	text-align: center;
	vertical-align: top;
}

.list_table td.third {
	width: 60px;
	border-left: 1px solid #CCCCCC;
}

.list_table td.border_right {
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #CCCCCC;
}

.list_table td.border_left {
	text-align: center;
	vertical-align: top;
	border-left: 1px solid #CCCCCC;
}

.list_table td.border_none {
	text-align: center;
	vertical-align: top;;
}


.op_label {
	color: #CCCCCC;
}

.label_detail {
	padding-left: 15px;
}

.label_detail a.detail_title {
	color: #72A545;
}

p.label_detail_line {
	text-indent: -20px;
}

.tiny_image_op {
	width: 12px;
	height: 12px;
}

.folder_detail_body {
	background-color: white;
	display: block;
	position: relative;
	border: 1px solid black;
	top: -4px;
	left: -4px;
	padding: 5px;
    font-size: 12px;
    text-align: left;
}
