
div#message_box {
	margin: 10px 0px 20px 0px;
	font-size: 1.2em;
	font-weight: bold;
}

.left_folder_column {
	margin: 5px 0px 5px 5px;
	width: 340px;
	float: left;
	position:relative;
	overflow: auto;
}

div.shelf_folder {
	border: 1px solid #999999;
	width: 310px;
	margin: 2px 0px 3px 0px;
	position:relative;
	padding: 3px 0px 3px 10px;
	background-color: white;
}

div.shelf_folder img.remove_folder {
	float: right;
}

div.shelf_folder a {
	text-decoration: none;
}

div.folder_hover {
	border: 2px dashed blue;
}

div.folder_selected {
	background-color: #999999;
}

div#folder_box .order_index{
	width: 15px;
	margin-right: 4px;
	text-align: right;	
}
div.folder_selected a {
	color: #FFFFFF;
}


.right_bookshelf_column {
    margin: 5px 0px;
    padding-left: 360px;    
}

.shared_folder_column {
    margin: 10px 10px;
}


#bookshelf_panel div.shelf_document {
	margin-bottom: 15px;
	/* IE6 hack to implement min-height */
	min-height: 80px;
	height: auto !important;
	height: 80px;
}

div.shelf_doc_cover {
	background:url(/images/bookshelf/small_shadowbook.gif) no-repeat;
	float: left;
	padding: 0 2px 2px 0;
}

div.shelf_doc_cover img {
	position: relative;
	border: 1px solid black;	
	width: 52px;
	height: 72px;
	top: -1px;
	left: -1px;
}

div.shelf_doc_info {
    padding-left: 60px;
}

div.shelf_doc_info.has_list_image{
	padding-left: 85px;
}

div.shelf_annot {
	margin-top: 1px;
	padding: 1px 0px 1px 5px;
    width: 85%;
}

div.shelf_annot.has_list_image{
	padding-left: 20px;
}

div.shelf_annot img.annot_type {
	margin-left: 0px;
}

img.remove_annot {
	width: 12px;
	height: 12px;
    margin-right: 2px;
	float: right;
}

table.compact {
	border: 0px;
	padding: 0px;
}

table.compact td {
	padding: 0px;
	margin: 0px;
	vertical-align:top;
	align:left;
}

div.more_annots {
    text-align: left;
    padding-top: 5px;
}

div.more_annots a {
    text-decoration: underline;
    color: #aaaaaa;
    font-size: 1.0em;
    font-weight: bold;
}

div.email_dialog {
	padding: 4px 4px 2px 4px;
	width: 600px;
	background-color: white;
	clear:both;
}

div.email_dialog .title{
	background-color: #DCDCDC;
	font-size: 1.2em;
	font-weight: bold;
	color: black;
	text-align: center;
	margin: 0px -4px 0px -4px;
	border-bottom: 1px solid black;
}

div.email_dialog .input_control{
	margin: 4px;
	display: block;
}

div.email_dialog .dark_text{
	color: black;
}

div.email_dialog .light_text{
	color: #666666;
}

div.email_dialog .input_control input{
	font-family: "trebuchet MS",verdana,helvetica,sans-serif;
	width:100%;
}

div.email_dialog .input_control textarea{
	height: 300px;
	font-family: "trebuchet MS",verdana,helvetica,sans-serif;
	width:100%;
}

div.email_dialog .action_box{
	text-align: center;
}

div.email_dialog .message_box{
	color: blue;
}

div.folder_select_win{
	border:1px solid #CCCCCC;
	margin:10px 3px;
	padding-bottom:10px;
	padding-top:5px;
	width: 500px;
	overflow:auto;
}

div.folder_select_box{
	float: left;
	margin-left: 15px;
	width: 150px;	
}

div.folder_select_box .folder_select_check{
	float: left;
	width: 20px;	
}

div.folder_select_box .folder_select_text{
	float: left;
	width: 75px;	
}

div.organize_bookshelf_box{
	padding: 20px;	
}

