
.main_struct {
	position:relative;
    width:99%;
    height:auto;
    overflow:auto;
	margin: 10px; 
	padding: 6px; 
}

.input_area {
    padding: 10px; 
   
}

.input_field {
   padding: 10px;   
   
}


.status_success {
   color: green;	
}

.div_text {
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;    
}

.main_fieldset {
	border:1px solid
	}
	
.main_fieldset_legend {
	padding: 0.2em 0.5em;
	
	}	