/* Begin CSS Drop Down Menu */
/* This is a modified(simplified) version from http://sperling.com/examples/menuh/ 
	we only support one level of drop down */

#menuh
	{
	font-size: 1.1em;
	font-family: arial, helvetica, sans-serif;
	float:left;
	margin:0;
	margin-top: 0;
	z-index: 99;
	position: absolute;
	border: 1px solid #555;
}

#menuh .hidden{
	visibility: hidden;
	height: 0px;
	width: 0px;
	display: inline;
	}
		
#menuh a /* removed	border: 1px solid #555; */
	{
	text-align: left;
	display:block;
	white-space:nowrap;
	margin:0;
	padding: 0.3em;
	}
	
#menuh a:link, #menuh a:visited, #menuh a:active	/* menu at rest */
	{
	color: black;
	background-color: white;
	text-decoration:none;
	}
	
#menuh a:hover						/* menu on mouse-over  */
	{
	color: black;
	background-color: #DCDCDC;
	text-decoration:none;
	}	
	
#menuh a.parent, #menuh a.parent:hover 	/* attaches side-arrow to all parents */
	{
	background-image: url(/images/reader/infotool_right.png);
	background-position: right center;
	background-repeat: no-repeat;
	}

#menuh ul li{
	list-style:none;
}

#menuh ul
	{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	width:16em;	 /* width of all menu boxes */
	/* NOTE: For adjustable menu boxes you can comment out the above width rule.
	However, you will have to add padding in the "#menuh a" rule so that the menu boxes
	will have space on either side of the text -- try it */
	}

#menuh li
	{
	position:relative;
	min-height: 1px;		/* Sophie Dennis contribution for IE7 */
	vertical-align: bottom;		/* Sophie Dennis contribution for IE7 */
	}

#menuh ul li ul
	{
	position:absolute;
	z-index:99;
	top:0;
	left:100%;
	display:none;
	border: 1px solid #555;
	}
	
#menuh li.bar{
	border-top:1px solid #555;
	
}

div#menuh li:hover
	{
	cursor:pointer;
	z-index:100;
	}

div#menuh ul li ul.hover
{display:block;}

/* End CSS Drop Down Menu */
