
div#order_filder {
    margin: 10px 0px;
    width: 100%;
    text-align: left;
}

div#order_filder .dateWidth{    
    width: 90px;   
}

div#order_filder_ar {
   
    width: 100%;
    text-align: right;
}

div#order_filder_ar .dateWidth{    
    width: 90px;   
}


.order_table tr.row_header {
    background-color: #E6E6FA;
}

.order_table tr.row_odd {
    background-color: #E6E6FA;
}

.order_table th.dollar {
    border: 0px;
    text-align: right;
    vertical-align: center;	
    padding-right: 10px;
    
}

.order_table td.text {
    border: 0px;
    text-align: left;	
    vertical-align: left;	
    padding-right: 10px;
    
}

.order_table td.dollar {
    border: 0px;
    text-align: right;
    vertical-align: center;	
    padding-right: 10px;
    
}

div.order_ops {
    margin-top:10px;
    text-align:right;
    width: 100%;
}

div.span_ar {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    text-align: right;
    margin-top:10px;
}

div.order_ops span.label {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

.form_fieldset {
	width: 95%;    
    margin: 10px;    
    padding: 10px;    
    border: 1px solid #BFBAB0;    
    background-color: #F2EFE9;  
    background-image: url(/images/form/fieldset_gradient.jpg);     
    background-repeat:repeat-x;
}

.no_bullet {
	list-style: none;
	margin-left: 1.5em;
	padding-left: 0px;
}
