
#submit-facebook {
	background: #637BAD;
	border: 1px solid;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-color: blue;
	color: #FFFFFF;
	display: inline;
	margin: 0px;
	padding: 1px 1px 1px 1px;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	overflow:visible;
}


#info-box {  
	border: 1px solid;
    margin: 1px 1px;
    padding:10px 10px 10px 23px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font: normal 90% 'Trebuchet MS', Tahoma, Arial, Sans-serif;
    display: inline-block;
    display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
    color: #00529B;  
    background:#BDE5F8 url(/images/info.png) top left no-repeat;
    background-position: 5px 14px;
}  
#success-box {  
	border: 1px solid;
    margin: 1px 1px;
    padding:10px 10px 10px 23px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font: normal 90% 'Trebuchet MS', Tahoma, Arial, Sans-serif;
    display: inline-block;
    display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
    color: #4F8A10;  
    background:#DFF2BF url(/images/success.png) top left no-repeat;
    background-position: 5px 14px;
}  
#warning-box {
	border: 1px solid;
    margin: 1px 1px;
    padding:10px 10px 10px 23px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font: normal 90% 'Trebuchet MS', Tahoma, Arial, Sans-serif;
    display: inline-block;
    display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;  
    color: #9F6000;  
    background:#FEEFB3 url(/images/warning.png) top left no-repeat;
    background-position: 5px 14px;
}  
#error-box {  
    border: 1px solid;
    margin: 1px 1px;
    padding:10px 10px 10px 23px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font: normal 95% 'Trebuchet MS', Tahoma, Arial, Sans-serif;
    display: inline-block;
    display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;	
    color: #D8000C;
    background:#FACACA url(/images/close.gif) left center no-repeat;
    background-position: 3px;
}
.p-header{
background-color: #394475;
}