.book_select_normal {
	float: left;
	padding: 31px 6px 2px 0;
}

.book_select_detail {
	float: left;
	padding: 31px 6px 2px 0;
}

.book_select_brief {
	float: left;
	padding: 0px 6px 2px 0;
}

.doc_select_checkbox{
    width: 14px;
    height: 20px;
}

/* use background instead of background-image for ie7 fix */
.doc_select_checkbox.list_on{
	background: url('/images/lists/list-on-stacked.gif') no-repeat center;
}

.doc_select_checkbox.list_off{
	background: url('/images/lists/list-off-stacked.gif') no-repeat center;
}

.operation_confirm{
	margin-left: 50px;
}

/* not just an empty style, used as a mark */
.list_operation{
}

.operation_table{
	margin-left: 40px;
	margin-bottom: 0px;
}

.operation_table th,td {
	border-width: 1px;
	border-color: #CDCDCD;
	border-style: solid;
}

.purchasable_img{
	display: inline-block;
	padding: 2px 3px;
}